<div class="div-search-contact"> 
	<fieldset>
        <legend><b>Recherche Contact</b></legend>
		<form #searchContactForm="ngForm" (ngSubmit)="searchContactsByType(searchContactForm)">
			<label for="Rechercher par">Rechercher par : </label><select name="type" required [(ngModel)]="displayType"><option *ngFor="let type of types" [value]="type">{{type}}</option></select>
			<ng-container *ngIf="displayType==='email'"><label for="email"> Email : </label><input name="email" type="text" required [(ngModel)]=email></ng-container>
			<ng-container *ngIf="displayType==='nom'"><label for="last name"> Nom de famille : </label><input name="lastname" type="text" required [(ngModel)]=lastname>  </ng-container>
			<input value="Search" type=submit [disabled]="!searchContactForm.form.valid"/>
	   </form>
	   <br/><br/>
	   <ng-container *ngIf="isNoResult && isFormSubmitted"><span class="span-no-result">No Result</span></ng-container>
	   <ng-container *ngIf="!isNoResult && isFormSubmitted">
	     <table>
	        <tr><th *ngFor="let head of headsTab">{{head}}</th></tr>
	        <tr *ngFor="let contact of searchContactResult">
	          <td>{{contact.id}}</td>
	          <td>{{contact.firstName}}</td>
	          <td>{{contact.lastName}}</td>
	          <td>{{contact.email}}</td>
	          <td>{{contact.company}}</td>
		      <td>{{contact.departement}}</td>
		    </tr>
		 </table>
	   </ng-container>
	</fieldset>
</div>
<app-back-menu></app-back-menu>