<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="200" alt="Annuaire" src="./assets/annuaire.jpg">
</div>
<h2>Cliquez sur le bouton ci-dessous pour accéder à la page de recherche de contacts </h2>
<ul>
  <li>
    <button (click)="goToSearchContactPage()">Rechercher Contact</button>
  </li>
</ul>
